.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 25px;
    height: 80vh; 
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
    color: var(--color-primary);
  }
  
  .checkout-container h1 {
    color: var(--color-secundary);
    font-size: 35px;
    margin-bottom: 1rem;
  }
  
  .back-button {
    margin-top: 20px; 
    margin-bottom: 10px; 
    height: 45px;
    width: 50px; 
    background-color: #d4322a;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 20px; 
    left: 20px; 
    z-index: 10;
  }
  
  .back-button:hover {
    cursor: pointer;
    background: var(--color-primary);
  }
  
  .order-summary-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    flex-grow: 1;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-summary-left, .order-summary-right {
    flex: 1;
  }
  
  .order-summary-left {
    padding: 20px;
    background-color: var(--color-gris);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-summary-right {
    padding: 20px;
    background-color: var(--color-gris);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cart-summary {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cart-summary ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-summary li {
    padding: 5px 0;
  }
  
  .confirm-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .confirm-button:hover {
    background-color: var(--color-primary);
  }
  
  .textoFooter2 {
    text-align: center;
    font-size: 14px;
    color: #888;
  }
  
  .contenedorFooter {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  
  .checkout-container .contenedorFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: var(--color-fondoLogin);
    color: var(--color-button);
    text-align: right;
    padding-right: 40px;
    border-radius: 60px 60px 0 0;
    z-index: 2;
  }
  
  .checkout-container .textoFooter2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 40px;
    text-align: right;
    color: var(--color-secundary);
  }
  
  .checkout-container .waves-background {
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/waves.png');
    z-index: -1;
  }
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.modal-content h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: var(--color-primary);
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--color-secundary);
}

.modal-content input,select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}

.modal-content .button-container {
  display: flex;
  justify-content: center;  
  gap: 10px; 
  margin-top: 20px;
}

.modal-content button {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  width: 48%; 
}


.modal-content button:hover {
  background-color: #009f18; 
}

.modal-content button:last-child {
  background-color: #f44336;
}

.modal-content button:last-child:hover {
  background-color: #d32f2f;
}

.cart-summary ul {
  list-style-type: none;
  padding: 10px;
}

.cart-summary li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.cart-summary li span {
  text-align: right;
}

.cart-summary .totales {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  
}

.cart-summary .totales p {
  margin: 5px 0; 
  text-align: right;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  max-height: 600px; 
  overflow-y: auto; 
}
.direcciones-lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.acciones {
  display: flex;
  gap: 10px;
}

.accion-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.accion-icon {
  font-size: 24px;
  color: black; 
  transition: color 0.3s ease;
}

.accion-btn:hover .accion-icon {
  color: var(--color-fondoLogin);
}

.accion-btn:hover {
  transform: scale(1.1); 
}

.direccion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.direccion-item .acciones {
  display: flex;
  gap: 10px;
}

.direccion-item .acciones button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.direccion-item .acciones button:hover {
  color: #007bff;
}
