@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-primary: #f46c3c  ;
  --color-secundary: #d4322a ;
  --color-button: #d4322a;
  --color-fondoLogin:#e9cd8b;
  --color-textos:#86553a ;
  --color-gris:#e9e9e9 ;
}
*{
  font-family: 'Poppins', sans-serif;
  
}

nav {
  margin: 0;
  padding: 0;
  left: 0;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: 10px 30px;
  height: 5rem;
  position: fixed;
  z-index: 3;
}


nav a img {
  width: 10%;
  margin-left: -40px;
  transition: 0.3s ease;
  filter: invert(100%);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .logo {
  display: flex;
  align-items: center; 
  text-decoration: none;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-left: -20px;
  font-weight: bold;
  cursor: pointer;
}
nav .iconOrders{
 
  margin-right: 10px;
  font-size: 40px;
  color: white;
}
nav .iconLogo {
  margin-right: 10px;
  font-size: 40px;
  color: white;
}

nav ul li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

nav ul li a {
  width: 100px;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  transition: 0.1s ease;
}
.botonesInicioYRegistro {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  margin-top: 2rem;
  margin-left: 750px;
}

.botonesInicioYRegistro li {
  list-style: none;
}

.botonesInicioYRegistro li a {
  margin: 0 10px; 
}
.cart-count {
  position: absolute;
  top: -5px;
  right: 10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.buttonIniciarSesion:hover{
  background-color: #d4322a;
}
.cart-icon {
  position: relative;
  display: inline-block;
  font-size: 24px;
}

nav ul li a:hover {
  color: var(--color-button);
}
nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px; 
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-button);
  transition: width 0.3s; 
}

nav ul li a:not(.no-underline):hover::after {
  width: 100%;
}
#menuToggle{
  display: none;
}
nav .iconMenu {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: var(--color-primary);
  cursor: pointer;
  display: none;
}

.buttonIniciarSesion {
  margin: 30px;
  height: 35px;
  width: 90%;
  background-color: #86553a  ;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 5px;
}

.buttonRegistrarse {
  margin: 30px;
  height: 35px;
  width: 90%;
  background-color: #d1a05b ;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 5px;
}

.menu .reservas-menu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  z-index: 9999;
  padding: 0;
  transform: translateZ(0);
  white-space: nowrap;
}

nav.custom-breadcrumb {
  position: fixed; 
  z-index: -1; 
  position: relative;
}


.submenu ul {
  font-size: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.submenu li {
  margin-bottom: 5px; 
}

.submenu a {
  font-size: 16px;
  text-decoration: none;
  color: var(--color-primary);
  display: block;
  padding: 10px; 
  width: 100%;
}


.menu .reservas-menu:hover .submenu {
  display: block;
  position: absolute;
  top: 100%; 
  left: 0;
}

.buttonRegistrarse:hover{
  cursor: pointer;
  background: #d4322a ;
}

.iconMenu {
  margin-top: 20px; 
}

.cart-text {
  display: none;
}

.show-small {
  display: none;
}


