.contenedorCardProducto {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  align-items: center;
  padding: 10px;
  justify-content: center;
  margin-bottom: -20%;
}

.contenedorCardProducto .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  height: 350px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  justify-content: space-between;
}

.carousel-controls .carousel-next-hidden {
  display: none;
}

.card img {
  width: 150px;
  height: 100px;
  margin-bottom: 10px;
  object-fit: contain;
  border-radius: 10px;
  padding: 10px;
  transition: opacity 0.3s ease; /* Añadido para animación de opacidad */
}

.contenidoCard {
  text-align: center;
  font-size: 12px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contenidoCard p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: black;
  display: block;
  transition: opacity 0.3s ease; /* Añadido para animación de opacidad */
}


.card:hover {
  background-color: #e9cd8b;
}

.card:hover .contenidoCard p,
.card:hover .card img {
  opacity: 0; 
}


.card:hover .contenidoCard {
  justify-content: center;
}

.card .contenidoCard h3,
.card .contenidoCard p {
  margin-bottom: 10px;
}

.card .contenidoCard button {
  cursor: pointer;
  display: none; 
  width: 100%;
  background-color: #86553a;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  transition: background-color 0.3s ease, margin-top 0.3s ease, opacity 0.3s ease; 
}

.card:hover .contenidoCard button {
  display: block;
  margin-top: -35px;
}

button {
  cursor: pointer;
}

.card img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: -25px;
}

.contenedorCardProducto .carousel-container {
  position: relative;
  width: 100%;
}

.contenedorCardProducto .carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contenedorCardProducto .carousel-next {
  display: none;
}

.contenedorCardProducto .card-more {
  background-color: #f46c3c;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  height: 350px;
  margin-top: -23%;
}

.contenedorCardProducto .card-more-prd {
  background-color: var(--color-button);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  height: 500px;
}

.card-more button,
.card-more-prd button {
  margin: auto auto;
  width: 60%;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: #86553a;
  border-radius: 5px;
}

.card-more button:hover,
.card-more-prd button:hover {
  cursor: pointer;
  background: #e9cd8b;
  color: #86553a;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}

p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
  color: black;
}

@media screen and (min-width: 810px) and (max-width: 1024px) {
  .contenedorCardProducto {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .contenedorCardProducto .card {
    margin: 10px 0;
    margin-right: 20px;
    width: 100%;
  }

  .contenedorCardProducto .card-more {
    width: 90%;
    margin: 10px 0;
    height: 100%;
  }
}

@media screen and (max-width: 809px) {
  .contenedorCardProducto {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .contenedorCardProducto .card:first-child {
    margin-top: 70px !important;
    margin-left: 40px;
  }

  .contenedorCardProducto .card {
    margin: 10px 0;
    margin-right: 20px;
  }

  .contenedorCardProducto .card-more {
    width: 90%;
    margin: 10px 0;
    height: 100%;
  }
}
